# Ignore everything in the root
/*

# Ignore Python cache
__pycache__/

# Allow all files in the .agents and .agentsignore directories
!.agents/
!.agentsignore/

# Allow the run_agents.py file
!run_agents.py

# Allow build, config and gitignore files
!.gitignore
!.editorconfig
!README.md
